/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .game-container {
    text-align: center;
    padding: 20px;
    background-color: #2fd69f;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 350px;
    transform: rotateY(15deg); /* 3D effect */
    transition: transform 0.5s;
  }
  
  .game-container:hover {
    transform: rotateY(0deg); /* Reverses 3D rotation on hover */
  }
  
  h1 {
    font-size: 2.5em;
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.3s;
  }
  
  .cell:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
  }
  
  button {
    padding: 12px 25px;
    background-color: #cc1414;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #365fdd;
    transform: scale(1.05);
  }
  
  #gameStatus {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }
  
  /* 3D Button Effect */
  button:active {
    transform: scale(0.95);
  }
  
  @media (max-width: 768px) {
    .game-container {
      width: 300px;
    }
  
    h1 {
      font-size: 2em;
    }
  
    .cell {
      width: 80px;
      height: 80px;
    }
  
    button {
      padding: 10px 20px;
      font-size: 1em;
    }
  }
  